<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Data API - JK</title>
</head>
<body style="text-align: center;">
    <h1>Covid Data API</h1>
    <p>Flask API to retreive the latest data of covid 19</p>
    <ul style="list-style: none;">
        <li><a href="/api/ecowas">ECOWAS</a></li>
        <li><a href="/api/world">WORLD</a></li>
    </ul>
    <p>par Joseph Konka</p>
</body>
</html>